*     {
  margin: 0px;
  padding: 0px;
  max-width: 1345px;
  max-height: 2000px;
}

#container2 {
  display: flex;
  justify-content: flex-end;
}

.icon1, .icon2, .icon3, .icon4 {
font-size: 20px;
padding: 10px;
}

.container1 {
    width: 1345px;
    height: 200px;
    overflow: hidden;
    margin: 0px;
    position: relative;
}
.container1 > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}


 .circular--square {
  border-radius: 50%;
}

.fotoyuki {
  width: 15%;
  height: 100%;
  margin-top: 20px;
  margin-left: 65px;
  border-radius: 70%;
}

.Nombre {
  margin-top: 20px;
  margin-left: 25px;
  display: flex;

}

.seguidores   {
  display: flex;
  margin-top: -20px;
  margin-left: 153px;
}
