.logo     {
  font-weight: 600;
  font-size: 30px;
}

sub {
  bottom: 1.75em;
  font-weight: 600;

}

.seguidores   {
  font-size: 15px;
}

.Nombre   {
  font-weight: 600;
  font-size: 25px;
}

.titulo1  {
  font-weight: 600;
  font-size: 30px;
  padding: 15px;
  margin-left: 93px;
}

.card-text  {
  padding: 3px;
  font-size: 20px;
  font-weight: bolder;
}

.subtitulo  {
  font-size: 15px;
  padding: 3px;
  font-weight: 400;
}
