.logo     {
  font-weight: 600;
  font-size: 30px;
}

sub {
  bottom: 1.75em;
  font-weight: 600;

}

.seguidores   {
  font-size: 15px;
}

.Nombre   {
  font-weight: 600;
  font-size: 25px;
}

.titulo1  {
  font-weight: 600;
  font-size: 30px;
  padding: 20px;
}
